@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("poppins"),
    url("/fonts/poppins-v15-latin-regular.woff") format("woff"),
    url("/fonts/poppins-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("poppins"), url("/fonts/poppins-v15-latin-700.woff") format("woff"),
    url("/fonts/poppins-v15-latin-700.woff2") format("woff2");
}

body {
  margin-left: 0;
  margin-right: 0;
  font-family: "Poppins", sans-serif;
  width: fit-content;
}

/*tous les paragraphes*/
p {
  /*font-size: 16px;*/
  line-height: 1.5;
}

a {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*espacemententre les sections*/
section {
  margin-top: 5%;
}

/*Au passage des boutons et des liens le curseur passe en pointeur*/
button,
a {
  cursor: pointer;
}

header {
  top: 0;
  width: 100%;
  height: 61.99px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  box-shadow: -20px -10px 20px black;
}

.high-header {
  display: flex;
  width: 100%;
}

/************Positionnement des éléments header*********/
/*logo pixagram dans la nav*/
.pixagramlogonav {
  width: 30%;
  justify-content: center;
}
/*Logo et label pixagram*/
.fontpixagramlogo {
  justify-content: center;
  align-items: center;
}
.fontpixagramlogo,
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 7%;
  font-size: 20px;
}

.righticonheader {
  display: flex;
  width: 30%;
  margin-left: 0;
  margin-right: 5%;
}
.myaccountfigure,
.mybagfigure {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 0px;
  margin-right: 0;
}

.mybagsvg,
.accountsvg {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

/*Hero image*/
.hero-image {
  background-image: url("images-icones/img/concoursphoto.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

/*Placer le texte */
.hero-text {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  vertical-align: middle;
  position: absolute;
  color: #fff;
  font-weight: 700;
}

.hero-text p {
  font-size: 10px;
}

/*Styliser le bouton du hero full image*/
.divlinkhero {
  display: flex;
  justify-content: center;
  padding-top: 90%;
}
.divlinkhero a {
  border: 1.7px solid #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  color: #00cdc6;
  background: #fff;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}

/*styliser tous les h2 et h3*/
h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 25px;
  width: 100%;
}

h3 {
  margin-bottom: 2%;
}

h3,
.sectiontwo p,
.sectionfour p {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

/*****************Section 1 - Vos options photo***************/

.image-photoalbum {
  background-image: url("images-icones/img/albumphoto.jpg");
}
.image-photoprinting {
  background-image: url("images-icones/img/tiragephoto.jpg");
}
.image-photocalendar {
  background-image: url("images-icones/img/calendrierphoto.jpg");
}
.image-photodeco {
  background-image: url("images-icones/img/decophoto.jpg");
}
.image-photoshareandcards {
  background-image: url("images-icones/img/faire-partetcartes.jpg");
}
.image-photoobjects {
  background-image: url("images-icones/img/objetsphoto.jpg");
}

/******Stylyser les images des sections 1 et 5*******/
.image-photoalbum,
.image-photoprinting,
.image-photocalendar,
.image-photodeco,
.image-photoshareandcards,
.image-photoobjects,
.image-pixateam,
.image-instagrampixa {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  padding-bottom: 3%;
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;
  height: 70vh;
}

.firstsection article {
  display: flex;
  justify-content: center;
}

.firstthreepictures1 a,
.secondthreepictures1 a,
.sectionfive a {
  border: 1.7px solid #fff;
  padding: 0.7rem 1.2rem;
  border-radius: 30px;
  color: #00cdc6;
  background: #fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

/***************Section 2 - Les tendances clients*****************/
/*dimensionner*/
.sectiontwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectiontwo img {
  display: flex;
  margin: auto;
  width: 90%;
}

/***Positionner les h3, les paragraphes***/

.nostalgicphotos,
.instaprinting {
  width: 40%;
  border-radius: 8px;
}

/***************Section 3 - Nos avis clients*****************/

.customeradvicediv {
  display: flex;
  justify-content: center;
}
.customeradvice {
  width: 50%;
}

/***************Section 4 - Nos valeurs*****************/

.sectionfour {
  display: flex;
  flex-wrap: wrap;
}

.valueicondiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sectionfour figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionfour figcaption {
  text-align: center;
}

/***************Section 5 - Qui sommes-nous ? *****************/

.image-pixateam {
  background-image: url("images-icones/img/equipepixagram.jpg");
}
.image-instagrampixa {
  background-image: url("images-icones/img/smartphoneinstagram.jpg");
}

/***************Section 6 - Le blog *****************/

.sectionsix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}

.sectionsix ul {
  list-style-type: armenian;
}

.blogimg {
  width: 80%;
  border-radius: 8px;
}
/***************Section 7 - réassurance *****************/
.sectionseven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.paymentsimg,
.chronopostimg {
  width: 35%;
}
.laposteimg {
  width: 20%;
}
.sectionseven figcaption {
  margin-bottom: 2%;
}
.deliverydiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
/**********************footer*****************************/
footer {
  width: 100%;
  background-color: #eeeded;
}
.footercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer h2 {
  font-size: 35px;
}
footer h3 {
  font-size: 25px;
}

.pixagramlogofooter {
  width: 30%;
  margin-top: 5%;
}

.pixagramdiv {
  display: flex;
  flex-direction: row;
}

footer li {
  font-size: 18px;
  line-height: 2.5;
}

@media (min-width: 481px) {
  a {
    display: flex;
    justify-content: center;
  }
  p {
    font-size: 18px;
  }
  header {
    top: 0;
    height: 10%;
  }
  /*Hereo full image*/
  .hero-text {
    width: 100%;
    font-size: 17px;
  }
  .hero-text p {
    font-size: 17px;
  }

  .divlinkhero {
    /*padding-top: 110%;*/
  }

  .divlinkhero a {
    border: 1.7px solid #fff;
    padding: 12px 20px 12px 20px;
    border-radius: 30px;
    color: #00cdc6;
    background: #fff;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .divlinkhero {
    display: flex;
    justify-content: center;
    /*padding-top: 90%;*/
  }
}
@media (max-width: 1199px) {
  .giftideasfigure,
  .discountfigure,
  .searchfigure,
  .myaccounttext,
  .mybagtext,
  header li {
    display: none;
  }
}

@media (min-width: 1200px) {
  /*dimensionner les images*/
  .image-photoalbum,
  .image-photoprinting,
  .image-photocalendar,
  .image-photodeco,
  .image-photoshareandcards,
  .image-photoobjects {
    margin-left: 5%;
    width: 100%;
    height: 30vh;
  }

  /*dimensionner les boutons*/
  .firstsection a,
  .sectionfive a {
    border: 1.7px solid #fff;
    padding: 0.7rem 1.2rem;
    border-radius: 30px;
    color: #00cdc6;
    background: #fff;
    font-size: 15px;
    font-weight: bold;
  }

  /*Modification header*/
  header {
    height: 20%;
  }

  header figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0;
    padding: 0;
  }

  header figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .myaccountfigure,
  .mybagfigure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
  }
  .mybagsvg,
  .accountsvg {
    margin-left: 0px;
  }
  .myaccounttext,
  .mybagtext {
    width: 150px;
  }
  .lowheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }
  .lowheader ul {
    display: flex;
    width: 100%;
  }
  .lowheader li {
    margin-left: 5%;
  }
  /*Section hero full image*/

  .hero-image {
    margin-top: 12%;
  }

  .hero-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    vertical-align: middle;
    position: absolute;
  }

  .divlinkhero {
    padding-top: 55%;
  }

  /*Nos produits*/
  .firstsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .firstthreepictures1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .secondthreepictures1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /*Section 2 tendances clients */
  .sectiontwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*modifier les articles de la section 2*/
  .nostalgicphotosarticle,
  .instaprintingarticle {
    display: flex;
    justify-content: center;
  }

  .nostalgicphotostext,
  .instaprintingtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .instaprintingarticle {
    display: flex;
    flex-direction: row-reverse;
  }

  .sectiontwo p {
    font-size: 16px;
  }

  .sectiontwo img {
    display: flex;
    width: 30%;
  }

  /*section 5 qui sommes nous*/
  .sectionfive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .whodiv {
    display: flex;
    flex-direction: row;
  }
  .image-pixateam,
  .image-instagrampixa {
    width: 400px;
    height: 300px;
  }

  /*Footer*/

  .pixagramlogofooter {
    width: 12%;
  }

  h3 {
    display: flex;
    justify-content: start;
    text-align: start;
  }

  .footeroptions {
    display: flex;
    text-align: start;
    justify-content: space-between;
    width: 90%;
  }
}
