@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("poppins"),
    url("/fonts/poppins-v15-latin-regular.woff") format("woff"),
    url("/fonts/poppins-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("poppins"), url("/fonts/poppins-v15-latin-700.woff") format("woff"),
    url("/fonts/poppins-v15-latin-700.woff2") format("woff2");
}

body {
  margin-left: 0;
  margin-right: 0;
  font-family: "Poppins", sans-serif;
  width: fit-content;
}

/*tous les paragraphes*/
p {
  /*font-size: 16px;*/
  line-height: 1.5;
}

a {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*espacemententre les sections*/
section {
  margin-top: 5%;
}

/*Au passage des boutons et des liens le curseur passe en pointeur*/
button,
a {
  cursor: pointer;
}

header {
  top: 0;
  width: 100%;
  height: 61.99px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  box-shadow: -20px -10px 20px black;
}

.high-header {
  display: flex;
  width: 100%;
}

/************Positionnement des éléments header*********/
/*logo pixagram dans la nav*/
.pixagram-logo-nav {
  width: 30%;
  justify-content: center;
}
/*Logo et label pixagram*/
.font-pixagram-logo {
  justify-content: center;
  align-items: center;
}
.font-pixagram-logo,
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 7%;
  font-size: 20px;
}

.right-icon-header {
  display: flex;
  width: 30%;
  margin-left: 0;
  margin-right: 5%;
}
.myaccount-figure,
.mybag-figure {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 0px;
  margin-right: 0;
}

.mybagsvg,
.accountsvg {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

/*****************Hero full image********************/
.hero-image {
  background-image: url("images-icones/img/concoursphoto.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

/*Placer le texte */
.hero-text {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  vertical-align: middle;
  position: absolute;
  color: #fff;
  font-weight: 700;
}

.hero-text p {
  font-size: 10px;
}

/*Styliser le bouton du hero full image*/
.div-link-hero {
  display: flex;
  justify-content: center;
  padding-top: 90%;
}
.div-link-hero a {
  border: 1.7px solid #000;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  color: #fff;
  background: #000;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}

/*styliser tous les h2 et h3*/
h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 25px;
  width: 100%;
}

h3 {
  margin-bottom: 2%;
}

h3,
.section-two p,
.section-four p {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

/*****************Section 1 - Vos options photo***************/

.photoalbum-img {
  background-image: url("images-icones/img/albumphoto.jpg");
}
.photoprinting-img {
  background-image: url("images-icones/img/tiragephoto.jpg");
}
.photocalendar-img {
  background-image: url("images-icones/img/calendrierphoto.jpg");
}
.image-photodeco {
  background-image: url("images-icones/img/decophoto.jpg");
}
.img-shareandcards {
  background-image: url("images-icones/img/faire-partetcartes.jpg");
}
.img-photoobjects {
  background-image: url("images-icones/img/objetsphoto.jpg");
}

/******Stylyser les images des sections 1 et 5*******/
.photoalbum-img,
.photoprinting-img,
.photocalendar-img,
.image-photodeco,
.img-shareandcards,
.img-photoobjects,
.img-pixateam,
.img-instagrampixa {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  padding-bottom: 3%;
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;
  height: 70vh;
}

.section-one article {
  display: flex;
  justify-content: center;
}

.first-three-img-s1 a,
.second-three-img-s1 a,
.section-five a {
  border: 2px solid #000;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  color: #fff;
  background: #000;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

/***************Section 2 - Les tendances clients*****************/
/*dimensionner*/
.section-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-two img {
  display: flex;
  margin: auto;
  width: 90%;
}

/***Positionner les h3, les paragraphes***/

.img-nostalgic-photos,
.img-instaprinting {
  width: 40%;
  border-radius: 8px;
}

/***************Section 3 - Nos avis clients*****************/

.div-customer-advice {
  display: flex;
  justify-content: center;
}
.svg-customer-advice {
  width: 100%;
}

/***************Section 4 - Nos valeurs*****************/

.section-four {
  display: flex;
  flex-wrap: wrap;
}

.div-value-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-four figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-four figcaption {
  text-align: center;
}

/***************Section 5 - Qui sommes-nous ? *****************/

.img-pixateam {
  background-image: url("images-icones/img/equipepixagram.jpg");
}
.img-instagrampixa {
  background-image: url("images-icones/img/smartphoneinstagram.jpg");
}

/***************Section 6 - Le blog *****************/

.section-six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}

.section-six ul {
  list-style-type: armenian;
}

.img-blog {
  width: 80%;
  border-radius: 8px;
}
/***************Section 7 - réassurance *****************/
.section-seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.img-payments,
.img-chronopost {
  width: 35%;
}
.img-laposte {
  width: 20%;
}
.section-seven figcaption {
  margin-bottom: 2%;
}
.div-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****Réseaux sociaux*******/
.article-stay-in-touch {
  margin-top: 10%;
}
.div-social-network {
  display: flex;
  justify-content: center;
  margin: 10% 0% 10% 0%;
}

.icon-social-network {
  margin-left: 7%;
}

/**********************footer*****************************/
footer {
  width: 100%;
  background-color: #eeeded;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer h2 {
  font-size: 35px;
}
footer h4 {
  font-size: 25px;
}

.pixagramlogofooter {
  width: 30%;
  margin-top: 5%;
}

.div-pixagram {
  display: flex;
  flex-direction: row;
}

footer li {
  font-size: 18px;
  line-height: 2.5;
}

.div-newsletter-input {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.text-newsletter {
  border: 0.5px solid #959595;
  padding: 10px 10px 10px 10px;
}
.newsletter-button {
  margin-top: 5%;
  border: 1.7px solid#000;
  padding: 7px 0px 7px 0px;
  border-radius: 20px;
  color: #fff;
  background: #000;
  font-weight: 700;
  font-size: 15px;
}

/*******************************************Responsive**********************************************/
@media (min-width: 481px) {
  a {
    display: flex;
    justify-content: center;
  }
  p {
    font-size: 18px;
  }
  header {
    top: 0;
    height: 10%;
  }
  /*****************Hero full image****************/
  .hero-text {
    width: 100%;
    font-size: 17px;
  }
  .hero-text p {
    font-size: 17px;
  }

  .div-link-hero {
    /*padding-top: 110%;*/
  }

  .div-link-hero a {
    padding: 12px 20px 12px 20px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .div-link-hero {
    display: flex;
    justify-content: center;
    /*padding-top: 90%;*/
  }
}
@media (max-width: 1199px) {
  .gift-ideas-figure,
  .discount-figure,
  .search-figure,
  .myaccount-text,
  .mybag-text,
  header li {
    display: none;
  }
}

@media (min-width: 1200px) {
  /*dimensionner les images*/
  .photoalbum-img,
  .photoprinting-img,
  .photocalendar-img,
  .image-photodeco,
  .img-shareandcards,
  .img-photoobjects {
    margin-left: 5%;
    width: 100%;
    height: 30vh;
  }

  /*dimensionner les boutons*/
  .section-one a,
  .section-five a {
    font-size: 15px;
    font-weight: 700;
  }

  /*******Modification header*****/
  header {
    height: 20%;
  }

  header figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0;
    padding: 0;
  }

  header figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .myaccount-figure,
  .mybag-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
  }
  .mybagsvg,
  .accountsvg {
    margin-left: 0px;
  }
  .myaccount-text,
  .mybag-text {
    width: 150px;
  }
  .low-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }
  .low-header ul {
    display: flex;
    width: 100%;
  }
  .low-header li {
    margin-left: 5%;
  }
  /*****Section hero full image******/

  .hero-image {
    margin-top: 12%;
  }

  .hero-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    vertical-align: middle;
    position: absolute;
  }

  .div-link-hero {
    padding-top: 55%;
  }

  /*******************Nos produits******************/
  .section-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .first-three-img-s1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .second-three-img-s1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /*Section 2 tendances clients */
  .section-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /***modifier les articles de la section 2****/
  .nostalgic-photos-article,
  .article-insta-printing {
    display: flex;
    justify-content: center;
  }

  .text-nostalgic-photos,
  .text-insta-printing {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .article-insta-printing {
    display: flex;
    flex-direction: row-reverse;
  }

  .section-two p {
    font-size: 16px;
  }

  .section-two img {
    display: flex;
    width: 30%;
  }

  /***********Section 3 nos avis clients***************/
  .svg-customer-advice {
    width: 40%;
  }

  /**************section 4 Nos valeurs **********/
  .article-p-section-four {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .section-four p {
    width: 60%;
  }

  .div-value-icon {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .div-value-icon figcaption {
    font-size: 13px;
  }

  /**************section 5 Qui sommes-nous? **********/
  .section-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-who {
    display: flex;
    flex-direction: row;
  }
  .img-pixateam,
  .img-instagrampixa {
    width: 400px;
    height: 300px;
  }

  /*******Section 6*****/

  .article-blog {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: start;
  }
  .section-six-text {
    display: flex;
    flex-direction: column;
  }

  .img-blog {
    width: 40%;
  }

  /**************Réassurance****************/
  .section-seven {
    display: flex;
    flex-direction: column;
  }

  .img-payments {
    width: 20%;
  }

  .img-laposte {
    width: 10%;
  }

  .img-chronopost {
    width: 20%;
  }
  .article-stay-in-touch {
    align-self: column;
  }
  /*************************Footer************************/

  .pixagramlogofooter {
    width: 12%;
  }

  footer h4 {
    display: flex;
    justify-content: start;
    text-align: start;
    font-size: 15px;
  }

  .footer-options {
    display: flex;
    text-align: start;
    justify-content: space-between;
    width: 70%;
  }
  footer li {
    font-size: 12px;
  }

  .div-newsletter-input {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .text-newsletter {
    border: 0.5px solid #959595;
    padding: 5px 10px 5px 10px;
    margin-right: 5%;
    font-size: 16px;
    font-family: "poppins";
  }
  .newsletter-button {
    margin-top: 0;
    padding: 7px 15px 7px 15px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    font-family: "poppins";
  }
  .div-social-network {
    margin: 5% 0% 5% 0%;
  }

  .icon-social-network {
    margin-left: 4%;
  }
}
