@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("poppins"),
    url("/fonts/poppins-v15-latin-regular.woff") format("woff"),
    url("/fonts/poppins-v15-latin-regular.woff2") format("woff2");
}

body {
  margin-left: 0;
  margin-right: 0;
  font-family: "Poppins", sans-serif;
}
/*tous les paragraphes*/
p {
  font-size: 16px;
}

/*espacemententre les sections*/
section {
  margin-top: 5%;
}

/*Au passage des boutons et des liens le curseur passe en pointeur*/
button,
a {
  cursor: pointer;
}

header {
  top: 0;
  height: 10%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  box-shadow: -20px -10px 20px black;
}

header figcaption {
  font-size: 13px;
}

.high-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.giftideasfigure,
.discountfigure,
.searchfigure,
.myaccounttext,
.mybagtext,
header li {
  display: none;
}

/************Positionnement des éléments*********/
/*logo pixagram dans la nav*/
.pixagramlogonav {
  width: 50px;
  justify-content: center;
}
/*Logo et label pixagram*/
.fontpixagramlogo {
  height: 5vh;
  align-items: center;
}
.fontpixagramlogo,
h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myaccountfigure,
.mybagfigure {
  display: flex;
  justify-content: right;
  align-items: center;
}

/*Hero image*/
.hero-image {
  background-image: url("images-icones/img/concoursphoto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
}

/*Placer le texte */
.hero-text {
  width: 40%;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  position: absolute;
  color: #fff;
}
/*Styliser le bouton du hero full image*/
.hero-text button {
  border: 1.7px solid #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  color: #00cdc6;
  background: #fff;
  font-weight: bold;
}

/*styliser tous les h2 et h3*/
h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
}

h3 {
  margin-top: 3%;
  margin-bottom: 2%;
}

/*****************Section 1 - Vos options photo***************/

.image-photoalbum {
  background-image: url("images-icones/img/albumphoto.jpg");
}
.image-photoprinting {
  background-image: url("images-icones/img/tiragephoto.jpg");
}
.image-photocalendar {
  background-image: url("images-icones/img/calendrierphoto.jpg");
}
.image-photodeco {
  background-image: url("images-icones/img/decophoto.jpg");
}
.image-photoshareandcards {
  background-image: url("images-icones/img/faire-partetcartes.jpg");
}
.image-photoobjects {
  background-image: url("images-icones/img/objetsphoto.jpg");
}

.image-photoalbum,
.image-photoprinting,
.image-photocalendar,
.image-photodeco,
.image-photoshareandcards,
.image-photoobjects {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  padding-bottom: 3%;
  margin-top: 3%;
  margin-left: 30%;
  width: 40%;
  height: 70vh;
}

.firstsection article {
  display: flex;
  justify-content: center;
}

.firstsection button {
  border: 1.7px solid #00cdc6;
  padding: 0.7rem 1.2rem;
  border-radius: 20px;
  color: #fff;
  background: #00cdc6;
  font-weight: bold;
}

/***************Section 2 - Les tendances clients*****************/
/*dimensionner*/
.sectiontwo {
  width: 100%;
}
.sectiontwo img {
  display: flex;
  margin: auto;
}
h3,
.sectiontwo p,
.sectiontwo a {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.nostalgicphotos,
.instaprinting {
  width: 40%;
  border-radius: 8px;
}

/***************Section 3 - Nos avis clients*****************/

/***************Section 4 - Nos valeurs*****************/

.sectionfour {
  display: flex;
  flex-wrap: wrap;
}

.sectionfour {
  display: flex;
}

.sectionfour p {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  background-color: #eeeded;
}
footer ul {
  justify-content: center;
  align-items: center;
}

/***************Section 5 - Qui sommes-nous ? *****************/

.image-pixateam {
  background-image: url("images-icones/img/equipepixagram.jpg");
}
.image-instagrampixa {
  background-image: url("images-icones/img/smartphoneinstagram.jpg");
}

.sectionfive button {
  border: 1.7px solid #00cdc6;
  padding: 0.7rem 1.2rem;
  border-radius: 20px;
  color: #fff;
  background: #00cdc6;
  font-weight: bold;
}

.image-pixateam,
.image-instagrampixa {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  padding-bottom: 3%;
  margin-top: 3%;
  margin-left: 30%;
  width: 40%;
  height: 70vh;
}

/***************Section 6 - Le blog *****************/
